# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs de instalação
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de teste/cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Traduções
*.mo
*.pot

# Arquivos de ambiente
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações de IDEs e editores
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Notebooks Jupyter
.ipynb_checkpoints

# Outros
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
